.button {
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;

  &--modal {
    border-radius: 2rem;
    padding: 2rem 3rem;
    box-shadow: 0 0 10px 5px rgba($green, 0.5);
    font-size: 2rem;
    color: $black;
    background: linear-gradient(92.84deg, #1dd844 1.44%, #cbf62e 126.29%);

    &:hover {
      box-shadow: 0 0 20px 10px rgba($green, 0.5);
    }

    &:active {
      box-shadow: 0 0 10px 5px rgba($green, 0.5);
    }

    &:disabled {
      color: rgba($black, 0.2);
    }
  }

  &--account {
    border: 1px solid $white;
    border-radius: 1.5rem;
    padding: 1.6rem 2rem;
    width: 100%;
    max-width: 17.5rem;
    font-size: 1.6rem;
    color: $white;
    background: none;

    &:hover {
      border: 1px solid $light-green;
      color: $light-green;
    }

    &:active {
      background: rgba($color: $light-green, $alpha: 0.05);
    }
  }
}
