.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: all ease 0.3s;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    min-height: $header-height;
  }

  &__logo {
    @include adaptiv-font(29, 18);

    position: relative;
    z-index: 5;
    line-height: 1;
    text-transform: uppercase;
    color: $white;
  }

  &.active {
    background: $darkgrey;
  }
}
