.intro {
  padding: 30rem 0 27rem 0;
  background: url("../images/gradient-bg.svg") top -35rem left -5rem no-repeat,
    url("../images/man-bg.png") center right / contain no-repeat, $primary;
  color: $white;

  @include breakpoint($tablet-bp) {
    padding: 10rem 0 10rem 0;
    background: url("../images/gradient-bg.svg") top -40rem left -35rem no-repeat, $primary;
  }

  &__inner {
    @include breakpoint($tablet-bp) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        "a"
        "c"
        "b";
      justify-items: center;
    }
  }

  &__block {
    position: relative;
    @include breakpoint($tablet-bp) {
      text-align: center;
    }

    &--a {
      grid-area: a;
    }

    &--b {
      grid-area: b;
    }

    &--c {
      grid-area: c;
      @include breakpoint($tablet-bp) {
        max-width: 80%;
      }
    }
  }

  &__title {
    @include adaptiv-font(72, 25);
    font-weight: 400;
    margin: 0 0 3rem 0;
    line-height: 1.05;

    @include breakpoint($mobile-bp) {
      margin: 0 0 4rem 0;
    }
  }

  &__bold {
    font-weight: 700;
  }

  &__text {
    @include adaptiv-font(23, 18);
    margin: 0 0 7rem 0;
    max-width: 50rem;
    color: $grey;
  }

  &__image {
    display: none;
    @include breakpoint($tablet-bp) {
      display: block;
    }
  }
}
