.modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba($color: $black, $alpha: .2);
  backdrop-filter: blur(7.5px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-modal;

  &.show {
    display: flex;
  }

  &__title {
    @include adaptiv-font(45, 23);
    font-weight: 700;
    margin: 0 0 2.5rem 0;
  }

  &__text {
    @include adaptiv-font(21, 18);
    line-height: 1.2;
    margin: 0 0 3.5rem 0;
  }
}

.modal__content {
  margin: 0 auto;
  width: 100%;
  max-width: 67rem;
  padding: 6rem 12rem 9rem 7rem;
  position: relative;

  background: radial-gradient(
    42.84% 203.07% at 15.58% -40.39%,
    #323e51 0%,
    #1d2532 100%
  );

  border-radius: 3rem;
  opacity: 0;

  transform: translateY(-50px);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;

  @include breakpoint($tablet-bp) {
    padding: 5rem 3rem 3rem;
  }


}

.modal__close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.9;

  position: absolute;
  top: 5rem;
  right: 5rem;

  transition: transform 0.2s linear, opacity 0.2s linear;
  
  @include breakpoint($mobile-bp) {
    top: 2rem;
    right: 2rem;
  }

  &:hover {
    transform: rotate(90deg);
    opacity: 1;
  }
}

.form {

  & > *:focus {
    outline: 1px solid $green;
    outline-offset: 1rem;
  }

  &__email {
    padding: 1.5rem 2rem;
    width: 100%;
    border-radius: 1rem;
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
  }

  .button {
    width: 100%;
  }
}