$primary:   #1D2532;
$secondary: #333E51;
$darkgrey: #293344;
$white:     #fff;
$black:     #000;
$red:       #ED3024;
$blue:      #3137C9;
$grey: 	 	#CECECE;
$green: 	#1DD844;
$light-green: #C3F33B;


$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$sidebar-width: 300px;

$tablet-bp: 991px;
$md-bp: 768px;
$mobile-bp: 575px;

$header-height: 85px;
