@import "vars";
@import "mixins";
@import "vendor/reset";
@import "vendor/reset-frilanser";
@import "settings";

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $white;

  &._lock,
  &.no-scroll {
    overflow: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

/* Blocks */
@import "blocks/container";
@import "blocks/header";
@import "blocks/menu";
@import "blocks/intro";
@import "blocks/study";
@import "blocks/modal";
@import "blocks/buttons";

