<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo">
        <img src="assets/images/icons/logo-full-icon.svg" alt="logo" />
      </a>
      <div class="header__menu menu">
        <div class="menu__icon"></div>
        <nav class="menu__body">
          <ul class="menu__list">
            <li class="menu__item">
              <a class="menu__link" href="#" data-goto=".intro"> Главная</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#" data-goto=".study">
                Что даст обучение
              </a>
            </li>
            <li class="menu__item menu__item--account">
              <a class="menu__link button button--account" href="#">
                Личный кабинет
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
