<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <div class="intro__block intro__block--a">
        <h1 class="intro__title" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
          Не упусти <br />
          возможность войти <br />
          в <b class="intro__bold">прибыльную нишу</b>
        </h1>
      </div>

      <div class="intro__block intro__block--b">
        <p class="intro__text">
          Получи все нужные навыки для заработка на NFT всего за 28 дней!
        </p>

        <a class="intro__button button button--modal" data-modal="modal">
          Начать зарабатывать на NFT
        </a>
      </div>

      <div class="intro__block intro__block--c">
        <img class="intro__image" src="assets/images/man-1.png" alt="man" />
      </div>
    </div>
  </div>
</section>